* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: sans-serif;
  margin: 0;
  background: #1f2937;
  color: #fff;
}
.head {
  padding: 10px 50px;
  width: 1000px;
  max-width: 1500px;
  margin: 0 auto;
}
header {
  display: flex;
  align-items: center;
  margin: 0;
  max-width: 1200px;
}
header ul {
  list-style: none;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 20px;
}
T a:hover {
  color: #b5c2d6;
}
.project {
  display: flex;
  margin: 40px auto;
}
.project h1 {
  font-weight: 48px;
  color: #f9faf8;
}
.project p {
  font-size: 18px;
  color: #e5e7eb;
}
.project img {
  flex: 1;
  justify-content: space-between;
  height: 160px;
  width: 400px;
  background: rgb(68, 77, 86);
  margin: 18px auto;
}
.btn {
  padding: 8px 20px;
  border-radius: 5px;
  background: #3882f6;
  color: #fff;
  border: 1px solid #3882f6;
  font-size: 15px;
}
section {
  text-align: center;
  color: #030101c4;
  background: #fff;
  padding: 40px 0 120px;
}
section h2 {
  color: black;
  font-size: 30px;
}
.illustration {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.illustration figure img {
  display: flex;
  width: 150px;
  height: 150px;
  max-width: 500px;
  border-radius: 10px;
  border: 4px solid #3882f6;
}
figcaption {
  width: 150px;
  margin: 5px auto;
}
.qoute {
  background: #e5e7eb;
  padding: 20px;
}
.qoute p {
  display: flex;
  font-size: 36px;
  text-align: justify;
  color: #1f2937;
  margin: 0 auto;
  max-width: 850px;
  padding: 50px 50px;
}
.qoute p:nth-child(2) {
  font-size: 30px;
  justify-content: flex-end;
  padding: 0 0 30px;
}
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.action {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #3882f6;
  border-radius: 10px;
  color: #fff;
  width: 50%;
  padding: 20px 80px;
  text-align: left;
  margin: 0;
}
.action-content1 {
  flex: 1;
}
.action-content1 p {
  color: #c9c9d3;
}

.btn-primary {
  border: 1px solid #fff;
  max-width: 1200px;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 50px;
}
a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  background: #3882f6;
  border-radius: 5px;
  padding: 0.5rem;
}
